html, body{
	height:100%;
}

header{
	font-family: PanameFy-Regular;
	color:white;
	font-size:45px;
	background-color: rgb(255, 26, 20);
	height: 75px;
}

header img{
	height:72px;
}

header div{
	height:100%;
}


#title{
	letter-spacing:5px;
	text-align:middle;
}

#logoutDiv{
	text-align:right;
	vertical-align:middle;
	font-size: 20px;

    height: 50%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#logoutDiv span{
	float:left;
}

#logoutDiv a {
	float:right;
}

#mainContent{
	height:80%;
}

.promotion-text{
	width:60%;
	float:left;
}

.promotion-image{
	width:36%;
	float:right;
}

.promotion{
	margin-top:5%;
	
}

.content{
	background-color:rgb(237,237,237);
}

.ellipsis {
    overflow: hidden;
    height: 200px;
    line-height: 25px;
  
    
}

.ellipsis:before {
    content:"";
    float: left;
    width: 5px; height: 200px; }

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px; 
	height:100%;
}		

.ellipsis:after {
    content: "\02026";  
    
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    
    float: right;
	position: relative;
    top: -25px;
    width: 3em;
	margin-left: -3em;
    padding-right: 5px;
    
    text-align: right;
    
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(white), color-stop(50%, white)));
    background: -moz-linear-gradient(to right, transparent, white 50%, white);			
    background: -o-linear-gradient(to right, transparent, white 50%, white);
    background: -ms-linear-gradient(to right, transparent, white 50%, white);
    background: linear-gradient(to right, transparent, white 50%, white); 
}

.ellipsis > div > p
{ 
	margin: 0; 
	padding: 0; 
	font-family: Texta-Book; 
	height:100%;
	font-size:20px;
	
}

.title{
	font-family: PanameFy-Regular;
    font-size: 45px;
    font-weight: bolder;
	color:#333;
	padding-left:15px;
}

.opt-in-button{
	background-color:rgb(255,161,0);
	font-weight:bold;
	font-family:Texta-Bold;
	font-size:20px;
}

.opt-in-button:hover, .opt-in-button:active, .opt-in-button:focus{
	background-color:rgb(255,186,0);
}